# Flutter
.dart_tool/
.pub/
.pub-cache/
/build/
/coverage/
*.lock

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Windows (chỉ ignore file build)
windows/CMakeCache.txt
windows/Generated/
windows/runner/Release/
windows/runner/Debug/
windows/runner/Generated/
windows/CMakeFiles/
windows/*.vcxproj.user

# Android
/android/app/debug
/android/app/profile
/android/app/release

# iOS
ios/Flutter/Generated.xcconfig
ios/Pods/

# MacOS
macos/Pods/
